---
import MainLayout from "@layouts/MainLayout.astro"
import { SITE_TITLE } from "src/consts"
import Seo from "@components/seo/Seo.astro"

const wpId = 10638
const title = "Thank you for joining the Agile Pain Relief Alumni mailing list"
const description =
	"Thank you for joining the Agile Pain Relief Alumni mailing list, where we periodically share information to continue to help you in your Scrum/Agile journey. If you're brand new to our mailing list, please watch your Inbox (or spam filter) for an email asking you to click the link provided to confirm your subscription, because ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2020-02-19T08:05:19")
const modifiedAt = new Date("2023-05-24T17:12:20")
const author = "mark-levison"
---

<MainLayout>
	<Seo slot="head" seo={{ title, description }} options={{ brand: SITE_TITLE }} />
	<p>
		Thank you for joining the Agile Pain Relief Alumni mailing list, where we periodically share
		information to continue to help you in your Scrum/Agile journey.
	</p>
	<p>
		If you&#8217;re brand new to our mailing list, please watch your Inbox (or spam filter) for an
		email asking you to click the link provided to confirm your subscription, because we hate spam
		as much or more than anyone and take your privacy very seriously.
	</p>
	<p>
		As an additional and sincere thank you &#8211; both for subscribing and for attending our
		training in the past &#8211; we offer you the discount code ALUMNI which you can use for a
		special discounted rate off the regular cost of <a href="/certified-scrum-agile-training"
			>additional Agile Pain Relief courses</a
		>. This code is valid for your personal use only, as an Agile Pain Relief alumni. However, if
		you would like to help a friend who has not yet attended one of our courses, you can offer them
		the PAYITFORWARD code which will still give them a discount, as our gift.
	</p>
	<p>Thanks again!</p>
</MainLayout>
