---
import MainLayout from "@layouts/MainLayout.astro"
import { SITE_TITLE } from "src/consts"
import Seo from "@components/seo/Seo.astro"

const wpId = 8902
const title = "Transactions"
const description = "[ESPRESSO_TXN_PAGE]"
const status = "publish"
const type = "page"
const createdAt = new Date("2019-09-18T05:37:33")
const modifiedAt = new Date("2023-05-24T17:12:39")
const author = "mark-levison"
---

<MainLayout>
	<Seo slot="head" seo={{ title, description }} options={{ brand: SITE_TITLE }} />
	<p>[ESPRESSO_TXN_PAGE]</p>
</MainLayout>
