---
import MainLayout from "@layouts/MainLayout.astro"
import { SITE_TITLE } from "src/consts"
import Seo from "@components/seo/Seo.astro"

const wpId = 15272
const title = "What Does a Certified Scrum Master Do?"
const description =
	"A Certified Scrum Master (CSM) performs a pivotal function within the Scrum framework, and is employed extensively in fields like project management and software development, as well as teams in marketing, sales, aviation, and much more. Professional Scrum Master The Certified Scrum Master is not the overseer of the Scrum team, nor their manager. Their ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2023-07-13T14:11:18")
const modifiedAt = new Date("2023-09-18T16:18:19")
const author = "mark-levison"
---

<MainLayout>
	<Seo slot="head" seo={{ title, description }} options={{ brand: SITE_TITLE }} />
	<p>
		A Certified Scrum Master (CSM) performs a pivotal function within the Scrum framework, and is
		employed extensively in fields like project management and software development, as well as
		teams in marketing, sales, aviation, and much more.
	</p>
	<hr />
	<h2>
		<a href="/what-is-a-professional-scrum-master" target="_blank" rel="noopener"
			>Professional Scrum Master</a>
	</h2>
	<hr />
	<p>
		The Certified Scrum Master is not the overseer of the Scrum team, nor their manager. Their role
		is centered on ensuring that the team embodies and abides by the core principles and practices
		of Scrum.
	</p>
	<p>
		<strong>1. Promoting Scrum Adoption:</strong> The first and foremost duty of a Certified Scrum Master
		is to ensure the principles and values of Scrum are understood and adopted not only by the Scrum
		team but also by the broader organization. They work to imbue every participant with an understanding
		of the Scrum theory, practices, governing rules, and underlying values. This responsibility also
		extends to the organization&#8217;s broader stakeholders, ensuring they comprehend and appreciate
		the benefits and constraints of the Scrum approach.
	</p>
	<p>
		<strong>2. Facilitating Scrum Events:</strong> As a pivotal figure in the Scrum framework, the Certified
		Scrum Master is entrusted with the responsibility of facilitating the various Scrum events: Sprint
		Planning, Daily Stand-Ups (properly known as the Daily Scrum), Sprint Review, and Sprint Retrospectives.
		Each serves as a critical activity in the Scrum development framework, fostering communication, ensuring
		a steady flow of work, and promoting collaborative problem-solving throughout the project.
	</p>
	<p>
		<strong>3. Eliminating Roadblocks:</strong> Impediments slow the pace of progress. The Certified
		Scrum Master identifies obstacles and coaches the team to find their own solutions. When impediments
		are outside of the team’s control/skills, the Scrum Master works with management to eliminate them.
		Whatever the source of the roadblocks –be it technical glitches, resource shortages, or coordination
		issues– the Scrum Master is responsible for ensuring that they get solved.
	</p>
	<p>
		<strong>4. Safeguarding the Team:</strong> In addition to being a facilitator and problem-solving
		advocate, the Certified Scrum Master also serves as the team&#8217;s guardian by shielding the team
		from external distractions and potential disruptions so the team is able to remain focused on the
		tasks at hand for the current Sprint, thereby improving the chances of the team successfully meeting
		their Sprint Goal.
	</p>
	<p>
		<strong>5. Coaching and Mentoring:</strong> A Scrum Master is also a mentor and coach in that they
		help the group become a real Scrum team by fostering collaboration. Coaching extends to the Scrum
		Product Owner and assisting in refining the product backlog and preparing it for the upcoming Sprint(s).
		The CSM promotes an environment of Psychology Safety, where ideas can be shared freely without risk
		or judgement, which many studies suggest is the key ingredient for team success.
	</p>
	<p>
		<strong>6. Encouraging Continuous Improvement:</strong> Once a Sprint concludes, the Scrum Master
		facilitates a crucial event known as the Sprint Retrospective where the Scrum Team commit to learning
		from past performance and adapting strategies accordingly. This promotes a culture of continuous
		improvement, a hallmark of successful Agile teams.
	</p>
	<p>
		<strong>7. Facilitating Stakeholder Communication:</strong> A Scrum Master ensures that stakeholders
		external to the Scrum team remain well-informed about the team&#8217;s progress, any challenges encountered,
		and how they&#8217;re being addressed. Simultaneously, they manage expectations concerning the product
		or project under development, and balance stakeholder needs and desires with the realities of the
		development process.
	</p>
	<p>
		There are many <a
			href="/benefits-of-certified-scrum-master-certification"
			target="_blank"
			rel="noopener">benefits of certified scrum master certification</a
		> and it can improve your career to learn from an organization that will teach you the practical
		art of growing your team&#8217;s collaboration to boost the effectiveness of product development.
		Take <a href="/certified-scrummaster-csm-training" target="_blank" rel="noopener"
			>certified scrum master training online</a
		> with us as the first stepping stone on that journey to success.
	</p>
</MainLayout>
