---
import MainLayout from "@layouts/MainLayout.astro"
import { SITE_TITLE } from "src/consts"
import Seo from "@components/seo/Seo.astro"

const wpId = 15311
const title = "What Is Scrum Project Management?"
const description =
	"Scrum is often labeled as a type of project management. This misconception arises from its use in managing complex product development tasks. However, it is essential to understand that Scrum is not about project management (with a PM in control), but a framework for product development. This subtle but significant distinction is important to understanding ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2023-08-08T14:06:21")
const modifiedAt = new Date("2023-09-18T16:15:15")
const author = "mark-levison"
---

<MainLayout>
	<Seo slot="head" seo={{ title, description }} options={{ brand: SITE_TITLE }} />
	<p>
		Scrum is often labeled as a type of project management. This misconception arises from its use
		in managing complex product development tasks. However, it is essential to understand that Scrum
		is not about project management (with a PM in control), but a framework for product development.
		This subtle but significant distinction is important to understanding the essence of Scrum.
	</p>
	<h2>Scrum: An Agile Framework</h2>
	<p>
		Originating in the software development world, Scrum is an Agile framework designed to handle
		complex, adaptive problems while delivering high-value products creatively and productively.
		Scrum encourages an environment of active collaboration, continuous learning and adaptation,
		focusing on delivering maximum value.
	</p>
	<p>
		Unlike traditional project management, Scrum doesn&#8217;t involve detailed long-term planning.
		Instead, it uses iterative progress, adaptability, and fast response to changes. The work is
		organized into small manageable units called Sprints, promoting incremental product development
		and enabling teams to accommodate changes every Sprint.
	</p>
	<h2>
		<a href="/when-many-scrum-teams-are-working-on-the-same-product" target="_blank" rel="noopener"
			>When many scrum teams are working on the same product
		</a>
	</h2>
	<p><strong>Emphasis on Values and Principles</strong></p>
	<p>
		Scrum emphasizes a specific set of values and principles rather than prescriptive practices. The
		Scrum values &#8211; courage, focus, commitment, respect, and openness &#8211; act as the
		guiding light for teams using this framework. These values promote a collaborative culture where
		individuals work together to solve complex problems and create innovative solutions.
	</p>
	<h2>Roles in Scrum</h2>
	<p>
		Traditional project management typically involves a hierarchical structure where a project
		manager oversees and directs the project&#8217;s progress. In contrast, Scrum is based on the
		idea of self-organizing, cross-functional teams. There are three primary roles in Scrum: The
		Product Owner, The Scrum Master, and The Development Team (Developers).
	</p>
	<p>
		1. The Scrum Product Owner is responsible for maximizing the product&#8217;s value. They manage
		the product backlog, ensuring that it aligns with the stakeholders&#8217; needs.
	</p>
	<p>
		2. The Scrum Master is not a project manager but a servant-leader for the Scrum Team. They coach
		the team on Scrum principles and practices, help remove impediments, and ensure that the team
		can work effectively.
	</p>
	<p>
		3. The Development Team is a self-organizing unit of Developers responsible for delivering a
		potentially releasable increment of the product by the end of each sprint.
	</p>
	<h2>Scrum Artifacts</h2>
	<p>
		Scrum uses simple artifacts to provide transparency and opportunities for inspection and
		adaptation:
	</p>
	<p>
		1. The Product Backlog is a list of everything that is known to be needed in the product. It is
		dynamic and evolves based on business or market requirements.
	</p>
	<p>
		2. The Sprint Backlog is a subset of the Product Backlog that the team commits to deliver during
		a Sprint.
	</p>
	<p>
		3. The Increment is the sum of all the Product Backlog items completed during a Sprint and the
		value of the increments of all previous Sprints.
	</p>
	<h2>Scrum Events</h2>
	<p>
		Scrum uses time-boxed events, such as the Sprint Planning, Daily Scrum, Sprint Review, and
		Sprint Retrospective, to create regularity and minimize the need for meetings not defined in
		Scrum. These events enable transparency, inspection, and adaptation at regular intervals.
	</p>
	<h3>In Conclusion</h3>
	<p>
		Labeling Scrum as a project management methodology is a common mistake and can lead to
		misunderstanding its purpose and potential. Scrum is a paradigm shift from traditional project
		management. It&#8217;s a value-driven approach that emphasizes collaboration, customer
		satisfaction, and iterative progress.
	</p>
	<p>
		Scrum is not about micromanaging tasks and people; it&#8217;s about fostering an environment
		that empowers teams to collaborate effectively and deliver maximum value. It provides a
		framework for managing complex work, making it not just a methodology, but a philosophy for
		creating products that meet and exceed expectations. If you would like to play a pivotal role in
		Scrum and become a <a href="/certified-scrummaster-csm-training" target="_blank" rel="noopener"
			>Certified Scrum Master</a
		>, we would love to help you achieve your Scrum project management goals.
	</p>
</MainLayout>
